<!DOCTYPE html>
<html>
  <head>
    <title>Birl App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag(*sources_from_manifest_entries(['semantic_ui', 'theme'], type: :stylesheet)) %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body class="<%= @body_class %>">
    <%= yield %>
  </body>
</html>
