<!DOCTYPE html>
<html>
  <head>
    <title>Birl App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag(*sources_from_manifest_entries(['semantic_ui', 'theme'], type: :stylesheet)) %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
  </head>

  <body class="<%= @body_class %>">
    <%= yield %>

    <% if current_user %>
      <script type="text/json" id="server-json">
       {
         "user": <%= raw render template: 'api/v1/users/show', locals: { '@user': current_user }, formats: :json %>,
         "audio": <%= audio_config_json.html_safe %>,
         "lists": <%= lists_json.html_safe %>,
         "entry_data_model": <%= entry_data_model_data_json.html_safe %>,
         "links": {
           "logoff": "<%= destroy_user_session_url %>"
         },
         "base_url": "<%= ENV['BASE_URL'] %>",
         "dynamic_css": <%= dynamic_css_json(current_user).html_safe %>
       }
      </script>
    <% end %>
  </body>
</html>
